body{
	background-color: red;
	text-align:center;
	font-family: Arial;
}

p.Actio{
	font-size:300%;
	border: 3px solid yellow;
	width:200px;
	text-align:center;
	margin-bottom:200px;
	padding:20px;
	position:relative;
	left:650px;
	animation-duration:5s;
	animation-name:Actio;
}

@keyframes Actio{
	from{
		left:10px;
	}
	50%{
		border: 3px solid black;
		padding:50px;
	}
	to{
		left:650px;
	}
}

@-webkit-keyframes Actio{
	from{
		left:10px;
	}
	50%{
		border: 3px solid black;
		padding:50px;
	}
	to{
		left:650px;
	}
}

button{
	background:orange;
	width:500px;
	padding:20px;
	text-align: center;
	border: 1px solid black;
	font-size:200%;
}

button:hover{
	background:green;
}

button:active{
	border: 3px solid white;
}

footer{
	position:absolute;
	bottom:10px;
	left:40%;
}

span.Bram:hover::before{
	content: "E-mail: b.vandenheuvel@student.tudelft.nl";
	position:absolute;
	bottom:20px;
	left:10%;
	border: 1px dashed white;
	font-size:80%;
}

span.Yinghao:hover::after{
	content: "E-mail: yinghaodai@student.tudelft.nl";
	position:absolute;
	bottom:20px;
	left:10%;
	border: 1px dashed white;
	font-size:80%;
}