body{
    background:lightyellow;
    width: 800px;
    margin: auto;
}

h1 {
    color: orange;
    text-align: center;
}

#listList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 22%;
    float: left;
    list-style: none;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#listList li a:hover {
    color: #c00;
    background-color: #e7e7e7;
}